<div class="col-span-2" id="canvas-wrap">
  <app-canvas [tables]="tables" [newTable]="newTable" (selectedTableEvent)="selectTable($event)" (clearNewTable)="clearNewTable()"></app-canvas>
  <app-controls [tables]="tables" [alert]="alert" (newTableEvent)="addTable($event)"></app-controls>
</div>

<div class="px-5 col-span-1">
  <h2 class="justify-center flex uppercase text-lavendar font-bold mb-4 text-lg">Table sélectionné :</h2>
<!--  <app-table-detail [tables]="tables"></app-table-detail>-->
  <app-table-controls [tables]="tables" *ngIf="selectedTable" [table]="selectedTable"></app-table-controls>
</div>
