<section class="bg-lavendar/75 grid grid-cols-3 pt-40 px-20 h-screen">
  <div class="col-span-2" id="canvas-wrap">

    <canvas [@mouseState]="mouseState" id="canvas" class="bg-white/60"></canvas>

    <app-controls (newTableEvent)="addTable($event)"
                  [selectedTable]="selectedTable$ | async"
                  [tables]="(tables$ | async) ?? []" [alert]="alert"></app-controls>

  </div>
  <div class="px-5 col-span-1">
    <h2 class="font-montserrat justify-center flex uppercase text-denim font-bold mb-4 text-xl">Table sélectionné :</h2>
<!--    TODO: Table details-->
<!--    TODO: Calendar + time component for reservation-->
  </div>
</section>

