<section class="bg-lavendar/75 grid grid-cols-3 pt-40 px-20 h-screen relative">

  <div id="spinner-wrap" class="col-span-3 flex justify-center items-center" [ngClass]="{'invisible': !loading, 'hidden': !loading}">
    <mat-spinner></mat-spinner>
  </div>


  <div class="col-span-2" id="canvas-wrap" [ngClass]="{'invisible':loading}">

    <canvas #canvasElement
      [@mouseState]="mouseState" id="canvas" class="bg-white/60"></canvas>

    <app-controls *ngIf="layoutAdminRights"
                  (newTableEvent)="addTable($event)"
                  (deleteTableEvent)="deleteTable($event)"
                  (saveLayoutEvent)="saveLayout()"
                  [selectedTable]="selectedTable$ | async"
                  [layoutState]="(layoutState$ | async)!"
                  [tables]="(tables$ | async) ?? []" [alert]="alert"></app-controls>

  </div>

  <div class="px-5 col-span-1" [ngClass]="{'invisible':loading}">

    <app-table-controls *ngIf="selectedTable$ && layoutAdminRights"
                        (modifyTableEvent)="modifyTable()"
                        [selectedTable]="selectedTable$ | async"></app-table-controls>

    <app-reservation-form *ngIf="!layoutAdminRights"
                          [selectedTable]="selectedTable$ | async"></app-reservation-form>

  </div>
</section>

