<div class="flex justify-between font-montserrat">
  <div class="w-1/2 flex items-center">
    <label class="form-label text-gray-700 items-center flex" for="table-number">N° de table </label>
    <input *ngIf="selectedTable" type="number" id="table-number" class="w-12 ml-2 p-1 text-sm border border-solid border-gray-300"
           [(ngModel)]="selectedTable.tableNumber">
  </div>

  <div class="w-1/2 flex items-center justify-end">
    <label for="table-seats">Nombre de couverts </label>
    <input *ngIf="selectedTable" type="number" id="table-seats" class="w-12 ml-2 p-1 border border-solid border-gray-300"
           [(ngModel)]="selectedTable.seats">
  </div>
</div>
