<div *ngFor="let table of tables">

  <div *ngIf="table.selected" class="flex justify-between">
    <div class="w-1/2 flex items-center">
      <label class="form-label text-gray-700 items-center flex" for="table-number">N° de table </label>
      <input type="number" id="table-number" class="w-12 ml-2 p-1 text-sm border border-solid border-gray-300"
             [(ngModel)]="table.tableNumber">
    </div>

    <div class="w-1/2 flex items-center justify-end">
      <label for="table-seats">Nombre de couverts </label>
      <input type="number" id="table-seats" class="w-12 ml-2 p-1 border border-solid border-gray-300" [(ngModel)]="table.seats">
    </div>
  </div>
</div>
