<div class="flex justify-between mt-4">

  <div class="flex">
    <app-button (click)="addNewTable()" [icon]="'plus'" class="mr-4"
                [tooltip]="{message: 'Ajouter une table'}"></app-button>

    <app-button [buttonDisabled]="selectedTable === null" class="mx-4" [icon]="'copy'"
                [tooltip]="{message: 'Copier une table', disabledMessage: 'Veuillez sélectionner une table'}"
                (click)="copyTable()"></app-button>

    <app-button [buttonDisabled]="selectedTable === null"  class="mx-4" [icon]="'bin'"
                [tooltip]="{message: 'Supprimer la table', disabledMessage: 'Veuillez sélectionner une table'}"
                (click)="deleteTable()" buttonState="alert"></app-button>

    <app-button [buttonDisabled]="layoutState.saveState === 'saved'" class="mx-4" [icon]="'floppy-disk'"
                [tooltip]="{message: 'Enregistrer', disabledMessage: 'Aucune modification à enregistrer'}"
                (click)="saveLayout()"></app-button>
  </div>

  <div class="mt-4 flex justify-end items-center">
    <p class="save-state-msg">État de la sauvegarde : </p>
    <i class="ml-2" [ngClass]="{'icon-checkmark': layoutState.saveState === 'saved',
                 'icon-cross': layoutState.saveState === 'notSaved',
                 'icon-spinner': layoutState.saveState === 'saving'}"></i>
  </div>

</div>

<div *ngIf="alert != ''" [@popInAnimation] class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mt-4"
     role="alert">

  <p class="font-bold font-montserrat">Attention !</p>
  <p class="font-montserrat">{{alert}}</p>

</div>
