<div class="mt-4 flex justify-end items-center">
  <p class="save-state-msg">État de la sauvegarde : </p>
  <i class="ml-2" [ngClass]="{'icon-checkmark': layoutState.saveState === 'saved',
                 'icon-cross': layoutState.saveState === 'notSaved',
                 'icon-spinner': layoutState.saveState === 'saving'}"></i>
</div>

<div class="mt-4 flex">

  <app-button class="mr-4" (click)="addNewTable()" buttonText="+ table"></app-button>

  <app-button *ngIf="selectedTable != null" [@popInAnimation] class="mx-4"
              (click)="copyTable()" buttonText="Dupliquer table"></app-button>

  <app-button *ngIf="selectedTable != null" [@popInAnimation] class="mx-4"
              (click)="deleteTable()" buttonState="alert" buttonText="- table"></app-button>

  <app-button *ngIf="layoutState.saveState === 'notSaved'" class="mx-4"
              (click)="saveLayout()" buttonText="Enregistrer plan de salle"></app-button>

</div>

<div *ngIf="alert != ''" [@popInAnimation] class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mt-4"
     role="alert">

  <p class="font-bold font-montserrat">Attention !</p>
  <p class="font-montserrat">{{alert}}</p>

</div>
