<div [class.hidden]="selectedTable === null">
  <div *ngIf="selectedTable != null" class="font-montserrat text-white flex justify-between items-center mx-4 mb-4">
    <p>{{selectedTable!.seats}} couverts</p>
    <p>Table n° {{selectedTable!.tableNumber}}</p>
  </div>

  <form [formGroup]="reservationForm" id="reservation-form">

    <div class="flex justify-between items-center mx-4">
      <mat-form-field appearance="fill" class="bg-white rounded py-2">
        <mat-label>Choisir une date</mat-label>
        <input matInput [min]="startDate" [max]="null" [matDatepicker]="picker" formControlName="reservationDate"
               required>
        <mat-hint>JJ/MM/AAAA</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="flex flex-col">
        <label for="time" class="text-white font-montserrat font-bold">Choisir l'heure</label>
        <input id="time" type="time" formControlName="reservationTime" class="h-8 rounded p-4" required>
      </div>

    </div>

    <div class="flex justify-end">
      <button [disabled]="selectedTable === null || reservationForm.invalid" type="submit"
              class="ml-auto mt-4 mr-4 font-small uppercase text-white py-2 px-4 rounded transition ease duration-500 cursor:pointer disabled:opacity-75 bg-denim hover:bg-denim/80">
        Réserver
      </button>
    </div>

    <div *ngIf="alert$ | async as alert" [@popInAnimation] class="border-l-4 text-white-900 p-4 mt-4"
         [ngClass]="{'bg-denim border-denim': alert.type === 'success', 'bg-orange-100 border-orange-500': alert.type === 'error'}"
         role="alert">

      <p class="font-bold font-montserrat">{{alert.type === 'success' ? 'Merci!' : 'Attention!'}}</p>
      <p class="font-montserrat">{{alert.message}}</p>

    </div>

  </form>
</div>
