<section class="bg-green/75">
  <div class="max-w-screen-xl px-4 py-32 mx-auto lg:h-screen lg:items-center lg:flex">
    <div class="max-w-3xl mx-auto text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        Application angular de reservation en ligne.
        <strong class="font-extrabold text-red-700 sm:block">
          Reservez votre table instantanément & facilement.
        </strong>
      </h1>

      <div class="flex flex-wrap justify-center gap-4 mt-8">
        <a routerLink="resto-admin" class="block w-full px-12 py-3 text-sm font-medium text-white bg-red-600 rounded shadow sm:w-auto active:bg-red-500 hover:opacity-70 focus:outline-none focus:ring">
          Partie restaurateur
        </a>

        <a routerLink="client" class="block w-full px-12 py-3 bg-white text-sm font-medium hover:opacity-70 text-red-600 rounded shadow sm:w-auto hover:text-red-700 active:text-red-500 focus:outline-none focus:ring">
          Partie client
        </a>
      </div>
    </div>
  </div>
</section>
